

{% load static %}

<!DOCTYPE html><html>
<head>

<link rel="stylesheet" href="{% static 'chat.css' %}">
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>






</head><body>
<div class='container' ng-cloak ng-app="chatApp">
  <h1>Django Chat Application</h1>
  
    
  <form method="POST"  action="checkview">
    {% csrf_token %}


    <div class="mb-3">
      <label class="form-label">Room Name</label>
      <input type="text" class="form-control" name="room_name" id="room_name" >
     
    </div>
    <div class="mb-3">
      <label  class="form-label">Username</label>
      <input type="text" class="form-control" name="username" id="username">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
  

</body></html>